<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624522877347-ub6flolv5avq1baf7fgdbh949eed13el.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624522877347-ub6flolv5avq1baf7fgdbh949eed13el</string>
	<key>API_KEY</key>
	<string>AIzaSyDaa2JhAdZ3ejOFqn4_GADePUM8QeLUMbE</string>
	<key>GCM_SENDER_ID</key>
	<string>624522877347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.speechoutApp</string>
	<key>PROJECT_ID</key>
	<string>spell-out-f6f05</string>
	<key>STORAGE_BUCKET</key>
	<string>spell-out-f6f05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624522877347:ios:d0b9529a5ec28f52b9a216</string>
</dict>
</plist>